@media screen and (min-width: 768px) {
    body {
        background-image: url(pattern-background-desktop.svg);
        background-repeat: repeat-x;
    }
    main {
        display: grid;
        place-content: center;
        grid-template-columns: 25rem;
    }
    footer {
        font-size: 16px;
    }
}